*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    margin: 5px;

}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1em;
}
nav{
    background-color: peru;
}
header{
    background-color:lightskyblue;
}
nav ul{
    margin-left: 2em;
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}
nav li{
    display: inline-block;
    width: auto;
}
nav a{
    display: inline;
}
header h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: peru;
    text-align: center;
    color: darkblue;
    
}
main{
    background-color: peru;
    font-size: 1em;
}
footer{
    background-color: lightskyblue;
    padding:1em;
    margin-top: 10px;

}
 p{
    line-height: 1.2em;
}
